<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>个人博客</title>
    </head>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/layui/css/index.css}"/>

    <body>

    <div class="layui-row">
        <div class="layui-col-md9">
            <div class="grid-demo grid-demo-bg1">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item">
                        <a href="">JavaEE专栏</a>
                    </li>
                    <li class="layui-nav-item layui-this">
                        <a href="" th:href="@{/index}">SpringBoot专栏</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">Jquery专栏</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">程序人生</a>
                        <dl class="layui-nav-child">
                            <!-- 二级菜单 -->
                            <dd>
                                <a class="layui-btn layui-btn-radius" href="">少年</a>
                            </dd>
                            <dd>
                                <a class="layui-btn layui-btn-radius" href="">青年</a>
                            </dd>
                            <dd>
                                <a class="layui-btn layui-btn-radius" href="">现在</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">学习资源</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-col-md3">
            <div class="grid-demo">
                <ul class="layui-nav">c
                    <li class="layui-nav-item">
                        <a href="">控制台</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">个人中心</a>
                    </li>
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="javascript:;"><img src="img/001.jpg" th:src="@{/layui/images/001.jpg}" class="layui-nav-img"/>用户<span class="layui-badge-dot"/></a>
                        <dl class="layui-nav-child">
                            <dd >
                                <a class="layui-btn layui-btn-radius" href="javascript:;" th:href="@{/login}">登录</a>
                            </dd>
                            <dd >
                                <a class="layui-btn layui-btn-radius" href="javascript:;">注册</a>
                            </dd>
                            <dd >
                                <a class="layui-btn layui-btn-radius" href="javascript:;">退出</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bd" th:each="user:${myArticle.list}">
        <div class="bd_div" >
            <h2 th:text="${user.title}"></h2>
            <p th:text="${user.smallContent}"></p>
            <button class="layui-btn layui-btn-radius layui-btn-normal"><a href="read.html" th:href="@{'/read/'+${user.id}}">阅读全文</a></button>
        </div>
    </div>

    <div class="page">
        <tr>
            <a th:href="@{/index(pageNum=0)}" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-normal">首页</a>
            <a th:href="@{/index(pageNum=${myArticle.pageNum -1})}" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-normal">上一页</a>
            <a th:href="@{/index(pageNum=${myArticle.pageNum +1})}" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-normal">下一页</a>
            <a th:href="@{/index(pageNum=${myArticle.pages})}" class="layui-btn layui-btn-primary layui-btn-sm layui-btn-normal">尾页</a>
        </tr>
    </div>

    </body>
    <script type="text/javascript" th:src="@{/libs/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
</html>
